body
{
 font-family: 'Raleway', sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_logo
{
    width: 100px;
}
.filtre-section
{
    display: flex;

flex-direction: row;

}

.filtres
{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    flex-wrap: wrap;

}
.filtre
{
    width: auto;
    border-radius: 50px;
    border: 1px solid blue;
    height: 30px;

}

.filtre_icone
{
    position: absolute;
}

.filtre_icone img
{
    width: ;
}

.recherche_location
{
    display: flex;

}
.recherche_location_icon
{
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 30% 0 0 30%;
    text-align: center;
    
    
}
.recherche_location_icon img
{
    width: 25px;
    height: 25px;
margin-top: 5px;
}

.recherche_location_button
{
    width: 50px;
    height: 50px;
    background-color: #0065FC;
    border-radius: 0 30% 30% 0;
}

.recherche_location_button img
{
    width: 25px;
    height: 25px;
margin-top: 5px;
color: white;
}
.recherche_location input
{
    width: 100px;
}


.filtres
{
    display: grid;
}
 


.economique
{
    display: flex;
}

.economique_button
{
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50% 50%;
    text-align: center;
}

.economique_button img
{
    width: 25px;
    height: 25px;
margin-top: 5px;
color: #0065FC;
}

.familial
{
    display: flex;
}

.familial_button
{
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50% 50%;
    text-align: center;
}

.familial_button img
{
    width: 25px;
    height: 25px;
margin-top: 5px;
color: #0065FC;
}


.romantique
{
    display: flex;
}

.romantique_button
{
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50% 50%;
    text-align: center;
}

.romantique_button img
{
    width: 25px;
    height: 25px;
margin-top: 5px;
color: #0065FC;
}

.animaux
{
    display: flex;
}

.animaux_button
{
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50% 50%;
    text-align: center;
}

.animaux_button img
{
    width: 25px;
    height: 25px;
margin-top: 5px;
color: #0065FC;
}

.info
{

    display: flex;
}
.info_button img
{
    width: 55px;
    height: 55px;
margin-top: 5px;
}


.stat
{
    display: flex;
}
.stat_button img
{
    width: 25px;
    height: 25px;
margin-top: 10px;
}

.populaires
{
    background-color: #F2F2F2;
}

.populaires_articles
{
    padding: 1rem;
}
.populaire_article
{
    display: block;
    margin: 0 auto 2rem;
}

.populaire_article_conteneur
{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    display: flex; flex-direction: row;
    width: 100%;
    height: 140px;
}

.populaire_article_conteneur img
{
width: 130px;
height: 130px;
object-fit: cover;
border-radius: 20px 0 0 20px;
}


/*
.soleil
{
    display: block;
    width: 320px;
    height: 200px;
    background-color: white;
    border-radius: 15% 15% 15% 15%;
    text-align: left;
}

.soleil_button img
{
    width: 120px;
    height: 120px;
margin-top: 8px;
border-radius: 20% 0% 0% 20%;
}

.etoile_button img
{
    width: 100px;
    height: 100px;
margin-top: 8px;
}

.text_soleil
{
    text-align: right;
}




.coeur
{
    display: block;
    width: 320px;
    height: 200px;
    background-color: white;
    border-radius: 15% 15% 15% 15%;
    text-align:left;
}

.coeur_button img
{
    width: 120px;
    height: 120px;
margin-top: 8px;
border-radius: 20% 0% 0% 20%;
}

.etoile_button img
{
    width: 100px;
    height: 100px;
margin-left: 5px;
}

.text_coeur
{
    text-align: right;
}


.bleu
{
    display: block;
    width: 320px;
    height: 200px;
    background-color: white;
    border-radius: 15% 15% 15% 15%;
    text-align:left;
}

.bleu_button img
{
    width: 120px;
    height: 120px;
margin-top: 8px;
border-radius: 20% 0% 0% 20%;
}

.etoile_button img
{
    width: 100px;
    height: 100px;
margin-left: 5px;
}

.text_bleu
{
    text-align: right;
}





.cannebiere
{
    display: block;
    width: 320px;
    height: 200px;
    background-color: white;
    border-radius: 15% 15% 15% 15%;
    text-align:left;
}

.cannebiere_button img
{
    width: 300px;
    height: 150px;
margin-top: 8px;
border-radius: 10% 10% 0% 0%;
}

.etoile_button2 img
{
    width: 100px;
    height: 100px;
margin-left: 5px;
}

.text_cannebiere
{
    text-align: right;
}


.port
{
    display: block;
    width: 320px;
    height: 200px;
    background-color: white;
    border-radius: 15% 15% 15% 15%;
    text-align:left;
}

.port_button img
{
    width: 300px;
    height: 150px;
margin-top: 8px;
border-radius: 10% 10% 0% 0%;
}

.etoile_button2 img
{
    width: 100px;
    height: 100px;
margin-left: 5px;
}

.text_port
{
    text-align: right;
}



.mouettes
{
    display: block;
    width: 320px;
    height: 200px;
    background-color: white;
    border-radius: 15% 15% 15% 15%;
    text-align:left;
}

.mouettes_button img
{
    width: 300px;
    height: 150px;
margin-top: 8px;
border-radius: 10% 10% 0% 0%;
}

.etoile_button2 img
{
    width: 100px;
    height: 100px;
margin-left: 5px;
}

.text_mouettes
{
    text-align: right;
}


.mer
{
    display: block;
    width: 320px;
    height: 200px;
    background-color: white;
    border-radius: 15% 15% 15% 15%;
    text-align:left;
}

.mer_button img
{
    width: 300px;
    height: 150px;
margin-top: 8px;
border-radius: 10% 10% 0% 0%;
}

.etoile_button2 img
{
    width: 100px;
    height: 100px;
margin-left: 5px;
}

.text_mer
{
    text-align: right;
}

.panier
{
    display: block;
    width: 320px;
    height: 200px;
    background-color: white;
    border-radius: 15% 15% 15% 15%;
    text-align:left;
}

.panier_button img
{
    width: 300px;
    height: 150px;
margin-top: 8px;
border-radius: 10% 10% 0% 0%;
}

.etoile_button2 img
{
    width: 100px;
    height: 100px;
margin-left: 5px;
}

.text_panier
{
    text-align: right;
}

.amina
{
    display: block;
    width: 320px;
    height: 200px;
    background-color: white;
    border-radius: 15% 15% 15% 15%;
    text-align:left;
}

.amina_button img
{
    width: 300px;
    height: 150px;
margin-top: 8px;
border-radius: 10% 10% 0% 0%;
}

.etoile_button2 img
{
    width: 100px;
    height: 100px;
margin-left: 5px;
}

.text_amina
{
    text-align: right;
}





.activites
{
    display: block;
    width: 320px;
    height: 200px;
    background-color: white;
    border-radius: 15% 15% 15% 15%;
    text-align:left;
}

.activites_button img
{
    width: 300px;
    height: 150px;
margin-top: 8px;
border-radius: 10% 10% 0% 0%;
}

.text_activites
{
    text-align: right;
}


.footer
{
    display: inline;
}
