body
{
 font-family: 'Raleway', sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_logo
{
    width: 100px;
}
.filtre-section
{
    display: flex;

flex-direction: row;

}

.filtres
{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    flex-wrap: wrap;

}
.filtre
{
    width: auto;
    border-radius: 50px;
    border: 1px solid blue;
    height: 30px;

}

.filtre_icone
{
    position: absolute;
}

.filtre_icone img
{
    width: ;
}

.recherche_location
{
    display: flex;

}
.recherche_location_icon
{
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 30% 0 0 30%;
    text-align: center;
    
    
}
.recherche_location_icon img
{
    width: 25px;
    height: 25px;
margin-top: 5px;
}

.recherche_location_button
{
    width: 50px;
    height: 50px;
    background-color: #0065FC;
    border-radius: 0 30% 30% 0;
}

.recherche_location_button img
{
    width: 25px;
    height: 25px;
margin-top: 5px;
color: white;
}
.recherche_location input
{
    width: 100px;
}


.filtres
{
    display: grid;
}
 


.economique
{
    display: flex;
}

.economique_button
{
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50% 50%;
    text-align: center;
}

.economique_button img
{
    width: 25px;
    height: 25px;
margin-top: 5px;
color: #0065FC;
}

.familial
{
    display: flex;
}

.familial_button
{
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50% 50%;
    text-align: center;
}

.familial_button img
{
    width: 25px;
    height: 25px;
margin-top: 5px;
color: #0065FC;
}


.romantique
{
    display: flex;
}

.romantique_button
{
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50% 50%;
    text-align: center;
}

.romantique_button img
{
    width: 25px;
    height: 25px;
margin-top: 5px;
color: #0065FC;
}

.animaux
{
    display: flex;
}

.animaux_button
{
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50% 50%;
    text-align: center;
}

.animaux_button img
{
    width: 25px;
    height: 25px;
margin-top: 5px;
color: #0065FC;
}

.info
{

    display: flex;
}
.info_button img
{
    width: 55px;
    height: 55px;
margin-top: 5px;
}


.stat
{
    display: flex;
}
.stat_button img
{
    width: 25px;
    height: 25px;
margin-top: 10px;
}








.populaires
{
    background-color: #F2F2F2;
}

.populaires_articles
{
    padding: 1rem;
}
.populaire_article
{
    display: block;
    margin: 0 auto 2rem;
}

.populaire_article_conteneur
{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    display: flex; flex-direction: row;
    width: 100%;
    height: 140px;
}

.populaire_article_image
{
width: 130px;
height: 130px;
object-fit: cover;
border-radius: 20px 0 0 20px;
}
.populaire_article_etoile
{
    width: 130px;
}

.populaire_article_contenu
{
    padding: 5px;
}







.hebergement
{
    background-color: #F2F2F2;
}

.hebergements_articles
{
    padding: 1rem;
}
.hebergement_article
{
    display: block;
    margin: 0 auto 2rem;
}

.hebergement_article_conteneur
{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    width: 100%;
    height: 200px;
}

.hebergement_article_image
{
width: 230px;
height: 130px;
object-fit: cover;
border-radius: 20px 20px 0px 0px;
}
.hebergement_article_etoile
{
    width: 130px;
}

.hebergement_article_contenu
{
    padding: 5px;
}





.activité
{
    background-color: #F2F2F2;
}

.activités_articles
{
    padding: 1rem;
}
.activité_article
{
    display: block;
    margin: 0 auto 2rem;
}

.activité_article_conteneur
{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    width: 100%;
    height: 170px;
}

.activité_article_image
{
width: 230px;
height: 120px;
object-fit: cover;
border-radius: 20px 20px 0px 0px;
}
.activité_article_etoile
{
    width: 130px;
}

.activité_article_contenu
{
    padding: 5px;
}



.footer
{
    display: inline;
}
